#root {
  max-width: 100vw;
  margin: 0 auto;

  text-align: center;
}

.section-items{
  padding: 0.5rem;
  display: flex;
  flex-direction: row-reverse;

}

.items-section{
  flex: 3;
}

.cta{
  background-color: #8ec57258;
  height: 200px;
  padding: 1rem;

  border-radius: 22px;
  gap: 6px;

  display: flex;
 justify-content: center;
 align-items: center;
 flex: 1;
 
}

.section-item-header{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
}

.section-item-sub-header{
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px; font-weight: 500 !important;
}


.cta-text{
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 1.8em;
  
}

.cta-text-btn button{
  height: 50px;
  border-radius: 22px;
  font-size: 1.2rem;
  font-weight: bold;
  color:#222;
  border: 2px solid #222;
  transition: all 1s;
}

.cta-text-btn button:hover{
  background-color: #222;
  color: #fff;
}
.cta-text h2{
  font-weight: 500 !important;
}
.cta-image{
  max-height: 100%;
  max-width: 100%;
  flex: 1;
 
}

.cta-image img{
  max-height: 100%;
  max-width: 100%;
  border-radius: 22px;
}

.section-divider{
  width: 95%;
 color: #222;
}

.items-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5,1fr );
  gap: 10px;
}

.item-card{
  max-width: 100%;
  border-radius: 22px;
  background-color: rgb(243, 243, 243);
  height: 280px;
}

.item-card-desc{
  text-align: left;
  background-color: rgb(243, 243, 243);
  padding: 0.8rem;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
 
}

.item-card-desc h3{
  margin-top: 2px;
  margin-bottom: 4px;
  font-weight: bold;
  line-height: 1.3em;
}
.item-card-price{
  color: #8ec572;
}
.item-card-img-cnt{
  max-width: 100%;
  height: 40%;
  padding: 0.5rem;
}

.item-card-img-cnt img{
 width: 100%;
 height: 100%;
 object-fit: cover;
 border-radius: 16px;
}
@media screen and (max-width: 726px) {
  .section-items{
    flex-direction: column;
  }
  .section-item-header{
    margin-top: 1rem;
  }
}