#root {
  width: 100svw;
  min-height: 100svh;
  text-align: center;
}

.section-items{
  padding: 0.5rem;
  display: flex;
  flex-direction: row-reverse;


}

.items-section{
  flex: 3;
}

.cta{
  background-color: #8ec57258;
  
  padding: 1rem;

  border-radius: 22px;
  gap: 10px;

  display: flex;
 justify-content: center;
 align-items: center;
 
 
}

.section-item-header{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
}

.section-item-sub-header{
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px; font-weight: 500 !important;
}


.cta-text{
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 1.8em;
  
}

.cta-text-btn button{
  min-height: 50px;
  border-radius: 22px;
  font-size: 1.2rem;
  font-weight: bold;
  color:#222;
  border: 2px solid #222;
  transition: all 1s;
}

.cta-text-btn button:hover{
  background-color: #222;
  color: #fff;
}
.cta-text h2{
  font-weight: 500 !important;
}
.cta-image{
 max-height:100%;
  max-width: 100%;
  display: flex;
  
  flex: 1;
 
}

.cta-image img{
  max-height: 100%;
  max-width: 100%;
  border-radius: 14px;
  object-fit: cover;
}

.section-divider{
  width: 95%;
 color: #222;
}

.items-container, .skeleton{
  display: grid;
  margin-top: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
   gap: 10px;
   row-gap: 30px;
 
}
.grad-animation {
  background: linear-gradient(40deg, #f3f2f2 25%, #b0b0b0 50%, #f0f0f0 75%);
  background-size: 400% 100%;
  animation: gradientLoading 3s infinite alternate;
}
@keyframes gradientLoading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.section-item-header.search-head{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 1rem;
}

.item-card, .skel{
  max-width: 100%;
  border-radius: 16px;
  background-color: rgb(243, 243, 243);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  
}

.item-card{
  background-color: unset;
}

.item-card-desc{
  text-align: left;

  color:black;

  padding: 0.8rem;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  display: flex;
    flex-direction: column;
    
    gap: 10px;
   
  
 
}

.cat-cta-up{
  border-radius: 22px !important;
}
.cta-scroller{
  display: flex;
 flex-direction: column;
  overflow-x: scroll;

gap: 3%;
margin-top: 16px;
}

.cta:last-child{
  background-color: #414040;
  color: #fff;
}

.cta:last-child .cta-image{
  background-color: #414040;
  color: #fff;
  padding: 0.4rem;
}

.cta:last-child  .cta-text-btn{
  color: #8ec572;
  border-color: #8ec572;
  opacity: 0.5; 
  font-size: 1rem;
  pointer-events: none;
}
.item-card-desc h3{
  margin-top: 2px;
  margin-bottom: 4px;
   font-weight: 900;
  line-height: 1em;
  max-height:2.4rem;
  font-size: 1.6rem;

  display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  
  
    padding: 10px;  padding-left: 0px;

}



.item-card-price{
  

  font-size: 1.1rem;
  text-wrap: nowrap;
  font-weight: bold;
}
.item-card-img-cnt{
  max-width: 100%;
  height: 50%;
  padding: 0.3rem;
  align-items: center;
  background-color: rgb(243, 243, 243);
  border-radius: 12px;
}
.item-info{
  display: flex;
  justify-content: space-between;
  gap: 5%;
  align-items: center;
  border-radius: 12px;
  
}

.item-card-condition{
  background-color: #8ec572;
  color: #fff;
  align-self: flex-end;
}

.item-info p{
  
  padding: 4px;
  border-radius: 8px;
  font-size: 1.3rem;
}
.item-card-img-cnt img{
 width: 100%;
 height: 100%;
 align-self: center;
 object-fit: cover;
 border-radius: 16px;
} .skeleton{
    padding: 0px;
  }
  #latest-skel{
    padding: 1rem;
  }

@media screen and (min-width: 1024px) {
  .items-container, .skeleton{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .user-profile{
    flex-direction: row;
    align-items: baseline;
  }

  #profile-detail {
    align-items: center;
    flex-direction: column;
  }
  #profile-detail .items-container{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

 

  .edit-form{
 
    padding: 16rem!important;   padding-top: 1rem!important;padding-bottom: 1rem !important;
  }
  .user-profile .eimg-cnt{
    display: flex;
    flex-direction: column;
  }
  #category-items-section .items-container{
 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  }

  .items-section{
    flex:5;
    
  }
  
  .cta-scroller{
  padding: 2rem;
  flex: 2;
  overflow: hidden;
}  
    
  .signup-form, .login-form, .upload-form{
    padding:2rem 20rem !important;
  }
  

}

@media screen and (max-width: 1024px) {
  .section-items{
    flex-direction: column;
  }
  .cta-scroller{
    flex-direction: row;
  }
  .items-container, .skeleton{
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media screen and (max-width: 768px) {
  .section-items{
    flex-direction: column;
  }
  .section-item-header{
    margin-top: 1.5rem;
  }

  .serach{
    min-height: 100%;
  }

  .items-container, .skeleton{
    grid-template-columns: 1fr 1fr;
    
  }

  .cta-scroller{
    flex-direction: row;
  }
  .cta{
    min-width:80svw;
    max-height: 200px;

  }
}
@media screen and (max-width: 320px){
  .items-container, .skeleton{
    grid-template-columns: 1fr ;
  }

}
@media (prefers-color-scheme: dark) {
  .cta-text-btn{
    color: #fff;
  }

  .quicknav{
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
  }
  .cta-text-btn button{
    color: #fff;
    border-color: #fff;
  }

  .btn-sell{
    border-color: #fff !important;
  }

  .btn-sell button{
    color: #fff !important;
    
  }

  .search-hints{
    background: #1f1f1f;
    
  }
  .delivery-img, .delivery img, .lbl-add-photo img{
    filter: invert(1);
  }

  .item-detail-user{
    text-decoration: underline 4px #fff !important;
  }

  .btn-chat{
    background: #fff !important;
  }

  .contact-details{
    border-top: 2px solid #ffff;
  }

  .search-hints li{
    color: #fff;
  }

  .profile-pic-img {
    border: 2px solid #fff !important;
  }


  .numbers h3{
    border: 2px solid #fff !important;
  }

  .item-card,.item-info, .item-card-desc{
    background-color: unset;
    color: #fff;
  }
  

}

.location-map{
  padding: 1rem;
}