:root {
  font-family:  'outfit', sans-serif, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #1c1c1c;
 
  max-width: 100svw;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  overflow-x: hidden;
  max-width: 100svw;
  
    

}
h5{
  margin-bottom: 0px;
}

ul{
  list-style: none;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}


p{
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  max-width: 100svw;
  place-items: center;
  overflow-x: hidden;
 
}


h1 {
  font-size: 3.2em;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0px;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color:  #1b1b1b;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #222;
    background-color: #ffffff;
  }
  
  button {
    background-color: #f9f9f9;
  }
}

.input-sub{
  background-color: #222;
  color: #fff;
  padding: 0.75rem;
 
  
}
.shd-press-eff{
  box-shadow: 5px 5px #8dc572;
  transition: transform 0.5s;
  transition: box-shadow 0.5s;

}
.shd-press-eff:active{
  transform: translateX(-5px);
  transform: translateY(5px);
  box-shadow: none;
}

.input-desc{
  min-height:100px;
  border-radius:18px;
  font-size: 16px;
  border: 1px solid;
  padding: 12px;
}

.cssload-loader {
	display: block;
	margin:0 auto;
	width: 29px;
	height: 29px;
	position: relative;
	border: 4px solid rgb(142,197,114);
	animation: cssload-loader 2.3s infinite ease;
		-o-animation: cssload-loader 2.3s infinite ease;
		-ms-animation: cssload-loader 2.3s infinite ease;
		-webkit-animation: cssload-loader 2.3s infinite ease;
		-moz-animation: cssload-loader 2.3s infinite ease;
}

.cssload-loader-inner {
	vertical-align: top;
	display: inline-block;
	width: 100%;
	background-color: rgba(141,197,114,0.97);
	animation: cssload-loader-inner 2.3s infinite ease-in;
		-o-animation: cssload-loader-inner 2.3s infinite ease-in;
		-ms-animation: cssload-loader-inner 2.3s infinite ease-in;
		-webkit-animation: cssload-loader-inner 2.3s infinite ease-in;
		-moz-animation: cssload-loader-inner 2.3s infinite ease-in;
}





@keyframes cssload-loader {
	0% {
		transform: rotate(0deg);
	}
	
	25% {
		transform: rotate(180deg);
	}
	
	50% {
		transform: rotate(180deg);
	}
	
	75% {
		transform: rotate(360deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-loader {
	0% {
		transform: rotate(0deg);
	}
	
	25% {
		transform: rotate(180deg);
	}
	
	50% {
		transform: rotate(180deg);
	}
	
	75% {
		transform: rotate(360deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-loader {
	0% {
		transform: rotate(0deg);
	}
	
	25% {
		transform: rotate(180deg);
	}
	
	50% {
		transform: rotate(180deg);
	}
	
	75% {
		transform: rotate(360deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-loader {
	0% {
		transform: rotate(0deg);
	}
	
	25% {
		transform: rotate(180deg);
	}
	
	50% {
		transform: rotate(180deg);
	}
	
	75% {
		transform: rotate(360deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-loader {
	0% {
		transform: rotate(0deg);
	}
	
	25% {
		transform: rotate(180deg);
	}
	
	50% {
		transform: rotate(180deg);
	}
	
	75% {
		transform: rotate(360deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}

@keyframes cssload-loader-inner {
	0% {
		height: 0%;
	}
	
	25% {
		height: 0%;
	}
	
	50% {
		height: 100%;
	}
	
	75% {
		height: 100%;
	}
	
	100% {
		height: 0%;
	}
}

@-o-keyframes cssload-loader-inner {
	0% {
		height: 0%;
	}
	
	25% {
		height: 0%;
	}
	
	50% {
		height: 100%;
	}
	
	75% {
		height: 100%;
	}
	
	100% {
		height: 0%;
	}
}

@-ms-keyframes cssload-loader-inner {
	0% {
		height: 0%;
	}
	
	25% {
		height: 0%;
	}
	
	50% {
		height: 100%;
	}
	
	75% {
		height: 100%;
	}
	
	100% {
		height: 0%;
	}
}

@-webkit-keyframes cssload-loader-inner {
	0% {
		height: 0%;
	}
	
	25% {
		height: 0%;
	}
	
	50% {
		height: 100%;
	}
	
	75% {
		height: 100%;
	}
	
	100% {
		height: 0%;
	}
}

@-moz-keyframes cssload-loader-inner {
	0% {
		height: 0%;
	}
	
	25% {
		height: 0%;
	}
	
	50% {
		height: 100%;
	}
	
	75% {
		height: 100%;
	}
	
	100% {
		height: 0%;
	}
}