.item-detail-cnt, .item-detail-skel{
    padding: 1rem;
    transition: all 2s;
    margin-top: 16px;
}
.item-detail-skel{
    height: 100svh;
}
.item-detail-img-cnt, .item-detail-img-skel{
    max-width: 100%;
    height: 16rem;
    transition: all 2s;
}
.bg-skel{
    background-color: rgb(243, 243, 243);

}
.item-detail-img-cnt img{
    max-width: 100%;
    height: 16rem;
    border-radius: 12px;
    object-fit: cover;
}

.pd-1-al-l{
    text-align: left;
   
}

.item-detail-cat{
    border-radius: 12px;
    
}

.cat-price-cnt{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-detail-cat{
       
        padding: 1rem;
    text-align: left;
    padding-bottom: 0px;
    font-size: 1.3rem;
    padding-left: 0px;
    

}

.item-detail-cat h2{
    border: 2px solid #222;
   


}

.item-detail-price{
    color: #8dc572;
    font-size: 2rem;
    font-weight: 900;
    font-style: italic;
}

.item-desc-cnt{
    border: 1px solid #222;
    padding: 1rem;
    
    box-sizing: border-box;
}

.desc-head{
    text-align: left;
}
h3{
    margin-top: 0px;
    margin-bottom: 0px;
}
.item-detail-name{
    text-decoration: underline 10px #8dc572;
   
}

.item-detail-user{
    font-size: 2rem;
    text-decoration: underline 4px #222;
    
}

.location-map h1{
    font-size: 2em;
    margin-bottom: 2rem;
}

.additional-images{
    display: grid;
    grid-template-columns: repeat(5, calc(18.6666% - 10px));
    grid-template-rows: 56px;
    align-self: center;
    align-content: center;
    justify-content: center;
    margin-top: 10%;
    gap: 5%;
}
 .cart-btn{
    height: 30%;
    width: 93%;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #8ec572eb;
 }
.add-img-cnt img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.skel-det{
    display: flex;
    gap: 40%
}

.contact-details{
    background-color: #222;
    color: #fff;
    padding: 1rem;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;

}

.detail-contact h2{
    margin-bottom: 4px;
    margin-top: 0px;
}

.item-detail-name-skel{
    height: 3.5rem;
    width: 55%;
}
.item-desc-cnt{border-radius: 6px;}
@media (prefers-color-scheme: dark) {
.item-desc-cnt{
    border: 2px solid #fff;
}
}

/* Add these styles to your CSS file */

.slider-container {
    margin: 10px 0;
}

.slider-label {
    margin-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

#map{
    border-radius: 12px;
    box-shadow: 3px 3px 20px #8dc572;
   
}
.error-div{
    justify-content: center;
    justify-items: center;
    align-items: center;
  
    gap: 10px;
}
.error-div p{
    font-family: 'Outfit';
    font-size: 1.2rem;
    font-weight: bold;
}

#error-404{
    width: 80%;
    border: 4px solid;
    object-fit: cover;
}

#error-cat{
    width: 100%;
}

.delivery{
    display: flex;
    align-items: center;
    justify-content: center;
}
.delivery-img{
    width: 30px;
}

