.navbar{
  
    display: flex;
    background-color: #222;   
    color: #8dc572;
    align-items: center;
    width: 100vw;
  
    
    
}
.user-icon, .book-icon{
 
    width: 20px;
    padding: 4px;
}

.book-icon{
    width: 16px;
}
.nav-items{
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding: 1rem;
    
    justify-content: space-between;
}

.header{
    margin-top: 0px;
}
.items{
    width: 100%;
    display: flex;
    gap: 3%;
   
    justify-content: flex-end;
}

.tools{
    display: flex;
    align-self: center;
    gap: 10px;
    justify-content: center;
}



.sign-in, .save{
    border-radius: 35px;

    border: 2px solid #8dc572;

 

}

.search-div{
   width: 70%;
    min-height: 100%;

    
    
}
.search{
    width: 100%;
 
    border-radius: 22px;
    font-family:  'outfit', sans-serif;
    font-size: 18px;
    padding: 12px;
    border-style: solid;
}

.search:hover{
    border-color: #8dc572;
}

.header-div{
    display: flex;
    
}
.tools{
    order: 3;
}

.account-actions{
    display: flex;
    align-items: center;
    gap: 10px;
}
.quicknav{
    background-color: #222;
    color: #ffff;
    text-wrap: nowrap;
    
   
}

.quicknav ul{
    display: flex;
    margin-top: 1px;
   justify-content: center;
   gap: 16px;
   text-wrap: nowrap;
   margin-bottom: 0px;
  
   padding: 0.8rem 1rem;

}

.quicknav li{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.662);
    text-wrap: nowrap;

    width: auto;

}
.quicknav li:hover{
    color: #8dc572;

}

.search-hints{
   
    margin-top: 3px;
    border: 3px solid;
    border-radius: 22px;
    color: #222;
    background: #fff;
    padding-left: 0px;
    box-sizing: border-box;
    padding: 1rem;
    outline: auto;
    z-index: 3;
}

.search-hints li{
    color: #2222229a;
    text-align: left;
    z-index: 3;
}

.invisible{
    display: none;
}
@media screen and (min-width: 1024px) {
    .search-hints{
        position: absolute;
        min-width: 50%;
    }
    .welcome-login{
        align-items: center;
    }
    .welcome-login button, .welcome-login a{
      
        width: 40%;
        
    }
}

@media screen and (max-width: 900px) {
    .navbar{
        height: auto;
    }
    .nav-items{
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: auto;
       justify-content: center;
        gap: 10px;
    }
    .header{
        margin: 0px;
    }
    .quicknav ul{
        overflow-x: scroll;
    }
    .items{
        justify-content: center; order: 1;
    }
    .quicknav ul{
        justify-content: flex-start;
    }
    .search{
        display: block;
    }
    .search-div{
        width: 100%;
        grid-column: 1 / span 2; grid-row: 2 / span 1;
    }

    .account-actions{
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        justify-content: flex-end;
    }

    .items{

        display: contents;
    }

    .header-div{
        grid-column: 1 / span 1; 
        grid-row: 1 / span 1;
    }
}
