
.signup-message{
    color:#be5454;
}

.signup-form, .login-form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 30px;
    align-self:center;
    justify-content: center;
    font-size:16px !important;
   
    height: 72svh;
    
}

input{
    border-radius: 22px;
    padding: 16px;
    font-size:16px;
    border: 1px solid ;
}

.signup-submit, .login-submit{
    background-color: #8dc572;
    color:#fff;
}


.flex-col{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.error-message{
    color: #be5454;
    margin: 0px;
}

.errorb{
    border-color: #be5454;
    color: #be5454 ;
}

.btn-logout{
    padding: 0.75rem;
    background-color: #8dc572;
    border-radius: 22px;
    color: #fff;
}



.btn-sell{
    padding: 10px;
    border-radius: 22px;
    border: 2px solid black;
}

.btn-sell button{
    background-color: transparent;
}
.welcome-login{
    padding: 2rem;
}

.prevent-zoom {
    max-height: 100%;
    max-width: 100%;
    -webkit-text-size-adjust: none;
    text-size-adjust: none; 
}

.welcome-login{
    height: 72vh;
    justify-content: center;

}