
.signup-message{
    color:#be5454;
}

.signup-form, .login-form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 30px;
    align-self:center;
    justify-content: center;
    font-size:16px !important;   
}

input{
    border-radius: 22px;
    padding: 16px;
    font-size:16px;
    border: 1px solid ;
}

.signup-submit, .login-submit{
    background-color: #8dc572;
    padding: 0.75rem;

    color:#fff;
}

.auth-image{
    width: 80%;
    align-items: center;
    align-self: center;
  
}

.login-header{
    margin-top: 0px;
}
.flex-col{
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.error-message{
    color: #be5454;
    margin: 0px;
}

.errorb{
    border-color: #be5454;
    color: #be5454 ;
}

.btn-logout{
    padding: 0.75rem;
    background-color: #8dc572;
    border-radius: 22px;
    color: #fff;
}



.btn-sell{
    padding: 10px;
    border-radius: 22px;
    border: 2px solid black;
}

.btn-sell button{
    background-color: transparent;
    color: black ;
}
.welcome-login h1{
    margin-top: 0px;
}

.prevent-zoom {
    max-height: 100%;
    max-width: 100%;
    -webkit-text-size-adjust: none;
    text-size-adjust: none; 
}

.welcome-login{
 padding: 2rem;
 justify-content: center;

}

.btn-sell.profile{
    border-color: #8dc572;
    
}
.btn-sell.profile button{
    color: #8dc572;
    
}

.login-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    gap: 20px;
}
@media screen and (min-width: 1024px) {
.login-form{
    flex-direction: row;
    justify-content: center;
   height: 80svh;
   
}
.signup-form{
   transform: scale(0.9);
}
.eimg-cnt{
    display: flex;
    justify-content: center;
}


}