.profile-pic-cnt{
    height: 10rem;
    width: 10rem;

    
    align-self: center;
position: relative;
}



.lbl-edt-photo{
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #222;
    color: #fff;
position: absolute;
bottom: 1%;
right: 2%;
 border-radius: 50%;
 width: 2.4rem;
    border: 2px solid #222;
}
.edit-form{
    padding: 1rem;
   
    justify-content: center
}
 
.profile-pic-img{
    
    width: 10rem;
    object-fit: cover;
    height: 10rem;
    
    border-radius: 50%;
  
border: 2px solid #222;
   
}
#profile_pic {
    display: none;
}