.upload-form{
 
    padding: 2rem;
    
}
.upload-form select{
    height: 40px;
    padding: 10px;
}

.input-thumb{
    height: 16px;
    padding: 4px;
}

.input-sub{
    background-color: #222;
    color: #fff;
   
    
}
.shd-press-eff{
    box-shadow: 5px 5px #8dc572;
    transition: transform 0.5s;
    transition: box-shadow 0.5s;

}
.shd-press-eff:active{
    transform: translateX(-5px);
    transform: translateY(5px);
    box-shadow: none;
}

.input-desc{
    height:80px
}

.prevent-zoom {
    max-height: 100px;
    max-width: 100%;
    -webkit-text-size-adjust: none;
    text-size-adjust: none; 
}