.upload-cnt{

    justify-content: center;
}

.upload-form{
 
    padding: 2rem;
    padding-top: 0px;
    justify-content: center;
    
}
.upload-form select{
    height: 40px;
    padding: 10px;
    border-radius: 12px;
}

.input-thumb{

    display: none;
}


.no-item-disp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50svh;
    font-size: 1.5rem;
    gap: 5%;
}

.image-preview{
    width: 100%;
    display: flex;
    justify-content: center;
}
.additional-previews .image-preview img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 2px;
}
.image-preview img{
    width: 50%;
    border-radius: 12px;
    align-self: center;
}
.autocomplete-dropdown-container {
    padding: 1rem;
    padding-bottom: 0px;
    font-family: 'Outfit';
    width: 140%;
}

.local{
    display: flex;
    justify-content: space-between;
   
}

.local-cnt{
    display: flex;
    align-items: center;
}
.location-map{
    padding: 1rem;
}

.cat-cta-up{
    color: #fff;
    background-color: #8dc572;
    align-self: center;
    border-radius: 16px;
    padding: 8px;
}
.cat-cta-up:hover{
    color: #8dc572;
    background-color: #fff;
    border: 2px solid #8dc572;
}
.file-upload-button{
   background-color: #8dc572; 
}

.input-sub{
    background-color: #222;
    color: #fff;
   
    
}
.shd-press-eff{
    box-shadow: 5px 5px #8dc572;
    transition: transform 0.5s;
    transition: box-shadow 0.5s;

}
.shd-press-eff:active{
    transform: translateX(-5px);
    transform: translateY(5px);
    box-shadow: none;
}

.input-desc{
    min-height:100px;
    border-radius:18px;
    font-size: 16px;
    border: 1px solid;
    padding: 12px;
}

input[type="radio"] {
    display: none;
}

.chip{
    padding: 8px;
    border: 1px solid #333;
    
}

label:first-child .chip {
    border-top-left-radius: 18px;
   border-bottom-left-radius: 18px;

}


label:last-child .chip {
  
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;

}

label {
    display: inline-block;
   

    
}
input[type="submit"]{
    cursor: pointer;
}

input[type="radio"]:checked + .chip {
    background-color: #333; 
   
    color: #fff; 
}

.lbl-add-photo{
    border-radius: 12px;
    text-align: center;
    height: 20px;
    padding: 20px;
    border: 3px dotted gray;
    display: flex;
    justify-content: center;
    gap: 20px;

}

.additional-previews {
    display: flex;
}


.lbl-add-photo img{
    height: 30px;
    width: 30px;
   
}

.prevent-zoom {
    max-height: 100px;
    max-width: 100%;
    -webkit-text-size-adjust: none;
    text-size-adjust: none; 
}
.slider-container{
   display: flex;
   flex-direction: column;
   justify-items: center;
   gap: 2%;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}



input:checked + .slider {
    background-color: #8dc572;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
