.upload-cnt{
    height: 90vh;
    justify-content: center;
}

.upload-form{
 
    padding: 2rem;
    height:90svh;
    justify-content: center;
    
}
.upload-form select{
    height: 40px;
    padding: 10px;
}

.input-thumb{
    height: 16px;
    padding: 4px;
    border: none;
}

.input-thumb button{
    
}

.file-upload-button{
   background-color: #8dc572; 
}

.input-sub{
    background-color: #222;
    color: #fff;
   
    
}
.shd-press-eff{
    box-shadow: 5px 5px #8dc572;
    transition: transform 0.5s;
    transition: box-shadow 0.5s;

}
.shd-press-eff:active{
    transform: translateX(-5px);
    transform: translateY(5px);
    box-shadow: none;
}

.input-desc{
    height:100px;
    border-radius:18px;
    padding: 12px;
}
/* Hide the default radio button */
input[type="radio"] {
    display: none;
}

.chip{
    padding: 8px;
    border: 1px solid #333;
    
}

label:first-child .chip {
    border-top-left-radius: 18px;
   border-bottom-left-radius: 18px;

}

/* Style for the last chip */
label:last-child .chip {
    /* Your styles for the last chip */
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;

}

label {
    display: inline-block;
   

    
}


input[type="radio"]:checked + .chip {
    background-color: #333; 
   
    color: #fff; 
}



.prevent-zoom {
    max-height: 100px;
    max-width: 100%;
    -webkit-text-size-adjust: none;
    text-size-adjust: none; 
}